{% extends 'base.html' %}
{% load staticfiles %}
{%  load i18n %}
{%  block title %} Storious - Home {% endblock %}
{% block content %}
    <div class="row">
        <div class="row-md-8">
            <div class="index-masthead row-md-8" style="background-image: url(https://storybird.s3.amazonaws.com/artwork/kendall_betz/full/cover.jpeg);">
                <div class="index-masthead-text">
                    <h1 style="font-size: 60px">Share</h1>
                    <h2 style="font-size: 40px">Experiences you'll always remember</h2>
                    <p>Image from: <a style="text-decoration: none" href="storybird.com">Storybird</a> </p>
                </div>
            </div>
            {% for post in posts %}
                <div class="post">
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <div class="date">
                        <p>published : {{ post.published_date }}</p>
                    </div>
                    <h4>{{ post.author }}</h4>
                    <p>{{ post.text|truncatechars:40|linebreaks}}</p>
                </div>
            {%  endfor %}
        </div>
    </div>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock  %}